body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.navbar{
  height:5rem;
  background-color: white;
  color: black !important;
}
.fa-airbnb{
  color:#fe424d;
  font-size: 2rem;
  font-weight: 400 !important;
}
.new-link{
  color: black !important;
}
.f-info-links a{
  text-decoration: none;
  color: black;
}
.f-info-links a:hover{
  text-decoration: none;
  color: black;
}
.f-info-links{
  width: 100%;
}
.f-info-socials{
  width: 100%;
  font-size: 1.3rem;
  
}
i{
  margin: 1rem;
}
.f-info{
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;

}
/* cards */
.card{
  border:none !important;
  margin-bottom: 2rem;
  text-decoration: none;
}
.card-img-top{
border-radius: 1rem !important;
width: 100% !important;
object-fit: cover !important;
}
.card-body{
  padding: 0;
}
.card-text p{
font-weight: 400;
}
.card-img-overlay{
  opacity: 0;
}
.card:hover{
  opacity: 0.9;
  background-color: rgb(253, 251, 251);
}
.container{
  margin-block: 3rem;
  /* border: 2px solid black; */
}
/* new page */
.add-btn{
  background-color: #fe424d !important;
  border: none !important;
}
/* show */
.show-img{
height: 50vh !important;
}
.edit-btn{
  background-color: #fe424d !important;
  border: none !important;
}

.btns{
  display: flex;
  /* margin: 1rem !important; */
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}

.card{
  border: none !important;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 2rem;
  justify-content: flex-start;
}
.star-rating input {
  display: none;
}
.star-rating label {
  color: #ccc;
  cursor: pointer;
}
.star-rating input:checked ~ label {
  color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}